################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/md-accountella
/MD.Accountella.Core.Models/obj
/MD.Accountella.Core.Models/bin
/MD.Accountella.DataTransferObjects/obj
/MD.Accountella.DataTransferObjects/bin
/MD.Accountella.DomainObjects/obj
/MD.Accountella.DomainObjects/bin
/MD.Accountella.DL/obj
/MD.Accountella.DL/bin
/MD.Accountella.BL/obj
/MD.Accountella.BL/bin
/MD.Accountella.WebApp/obj
/MD.Accountella.WebApp/bin
/.vs/MD.Accountella
/MD.Accountella.WebApp/appsettings.development.json
/MD.Accountells.Core/obj
/MD.Accountells.Core/bin
