################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/md-accountella
/MD.Accountella.DataTransferObjects/obj
/MD.Accountella.BL/obj
