.card-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
:host > .card-block {
    flex: 1 1;
}
