a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.header {
  box-shadow: 0 2px 6px rgba(0, 10, 19, 0.7);
}

:host {
  z-index: 4;
}