:host {
    margin-bottom: .5rem;
}
header {
    padding: .4rem .6rem;
    background-color: #adadad;
    height: auto;
    font-weight: 500;
    font-size: small;
    border-radius: 2px;
}
.detail-area {
    padding: .2rem .5rem;
    display: flex;
    flex-direction: column;
}
.detail-area .item-spec:not(:first-child) {
    padding-top: .5rem;
}
.item-spec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: 0 -0.05rem 0 #ccc inset;
    padding: 0 .5rem .5rem .5rem;
}
.item-spec .intro {
    display: flex;
    flex-direction: column;
}
.item-spec .intro .caption {
    margin-top: 0;
}
.item-spec .intro .sub-caption {
    margin-top: -2px;
}
.item-spec .desc {
    margin-top: 0;
    max-width: 36vw;
}
@media screen and (min-width: 420px) {
    .item-spec :first-child {
        max-width: 10rem;
    }
    .item-spec > :not(:first-child) {
        margin-left: 1rem;
        min-height: 3rem;
    }
}
.item-spec .action {
    display: flex;
    flex-direction: column;
}