/* @import "~@ng-select/ng-select/themes/default.theme.css"; */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0;
  height: 100vh;
}

body,
body p {
  color: #666;
  color: var(--clr-p1-color, #666);
  font-weight: 400;
  font-weight: var(--clr-p1-font-weight, 400);
  font-size: 0.7rem;
  letter-spacing: normal;
  line-height: 1.2rem;
  margin-bottom: 0;
}

.action-link-button {
  cursor: pointer;
}
.l-mar1 {
  margin-left: 1rem;
}
.float {
  position: fixed;
  bottom: 2rem;
  right: 1.8rem;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}
.float:hover {
  box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px);
}

.ng-dropdown-panel {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1050;
  background: #fff;
  border: 1px solid #ccc;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
}

.ng-dropdown-panel.ng-select-top,
.ng-dropdown-panel.ng-select-bottom {
  bottom: 1.5rem;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    position: relative;
    text-align: left;
    padding: .4rem;
}
.ng-option.ng-option-selected {
  background-color: var(--clr-global-selection-color);
  color: var(--clr-label-font-color-dark);
}
.ng-option.ng-option-marked {
  background-color: var(--clr-global-hover-color);
}
