<clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">

  <ng-container *ngFor="let mnu of menus">
    <ng-container [ngTemplateOutlet]="mnu.nodes && mnu.nodes.length > 0 ? menuWithChild : menuWithoutChild"
      [ngTemplateOutletContext]="{navItemData:mnu}">
    </ng-container>
  </ng-container>

  <ng-template #menuWithChild let-navItemData="navItemData">
    <clr-vertical-nav-group routerLinkActive="active">
      <clr-icon *ngIf="navItemData.icon" [attr.shape]="navItemData.icon" clrVerticalNavIcon></clr-icon>
      {{navItemData.label}}
      <clr-vertical-nav-group-children>
        <ng-container *ngFor="let mnu of navItemData.nodes">
          <ng-container [ngTemplateOutlet]="menuWithoutChild" [ngTemplateOutletContext]="{navItemData:mnu}">
          </ng-container>
        </ng-container>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
  </ng-template>

  <ng-template #menuWithoutChild let-navItemData="navItemData">
    <a clrVerticalNavLink [routerLink]="navItemData.route" routerLinkActive="active">
      <clr-icon *ngIf="navItemData.icon" clrVerticalNavIcon [attr.shape]="navItemData.icon"></clr-icon>
      {{navItemData.label}}
    </a>
  </ng-template>
  
</clr-vertical-nav>