.tab-container {
    padding: 1rem;
    height: 100%;
}
.account-groups {
    padding: 0.6rem 0.2rem;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    overflow-y: auto;
}
/* ::ng-deep .nav {    
    flex-wrap: wrap;
    height: auto;
} */
.action-link-button {
    width: fit-content;
}
.add-type-area {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-column-gap: .5rem;
    background-color: lightgray;
    padding: .4rem;
    align-items: baseline;
    justify-content: end;
    min-width: 42%;
}
.add-type-area input {
    margin-right: .2rem;
    font-size: smaller;
}
.add-type-area button {
    font-size: xx-small;
    max-width: 102px;
    margin-right: 0;
}