.tab-container {
    padding: 1rem;
}
.account-groups {
    padding: .6rem .2rem;
    display: flex;
    flex-direction: column;    
    max-height: 55vh;
    overflow-y: auto;
}
::ng-deep .nav {    
    flex-wrap: wrap;
    height: auto;
}