<div class="tab-container" #accTabContainer (window:resize)="onResize($event)">
    <clr-tabs>
        <clr-tab *ngFor="let aHead of accountHeads">
            <button clrTabLink [id]="aHead.id">{{aHead.name}}</button>
            <!-- <ng-template [(clrIfActive)]="dashboardActive"> -->
            <clr-tab-content *clrIfActive="true">
                <div class="account-groups">
                    <ng-container *ngFor="let agroup of aHead.subCategories">
                        <app-account-group-viewer [accGroup]="agroup"></app-account-group-viewer>
                        <a class="action-link-button l-mar1" (click)="accManager.open(agroup, undefined)">Add new account</a>
                    </ng-container>
                </div>
            </clr-tab-content>
            <!-- </ng-template> -->
        </clr-tab>
    </clr-tabs>
    <button type="button" (click)="accManager.open(getSelectedHead(), null)" class="btn btn-icon btn-primary btn-lg float"
        aria-label="add" title="Add Account">
        <clr-icon shape="plus"></clr-icon>
    </button>
</div>
<app-account-manager></app-account-manager>