<app-base-landing caption="Invoices">
    <header-actions>
        <div class="btn-group btn-primary">
            <button class="btn btn-success">
                <clr-icon shape="plus"></clr-icon>
                New
            </button>
            <div class="btn-group-overflow open">
                <button class="btn dropdown-toggle">
                    <!-- <clr-icon shape="ellipsis-horizontal"></clr-icon> -->
                    <clr-icon shape="export"></clr-icon>
                    Export
                </button>
                <!-- <div class="dropdown-menu">
                    <button class="btn">
                        <clr-icon shape="user"></clr-icon>
                        PDF
                    </button>
                    <button class="btn">
                        <clr-icon shape="cloud"></clr-icon>
                        XLS
                    </button>
                </div> -->
            </div>
        </div>
    </header-actions>
    <app-base-collection [columnSpecs]="invDataColumns" [data]="invData"></app-base-collection>
</app-base-landing>