.modal-dialog {
    width: auto;
}
.modal-body {
    overflow: visible;
}
.available-space-fill {
    flex-grow: 1;
}
.catg-selection-container {
    padding: 0 .6rem;
    flex-grow: 1;
}
::ng-deep .clr-input-wrapper {
    display: flex;
}
#sel-catg {
    padding: 0;
}
.custom-wrapper {
    display: flex;
}
::ng-deep .ng-option:not(:last-of-type) {
    box-shadow: 0 -0.05rem 0 #ccc inset;
}
