.inp-custom {
    min-width: 15rem;
}
.modal-body {
    overflow: visible;
}
::ng-deep .ng-option {
    box-shadow: 0 -0.05rem 0 #ccc inset;
}
.padl-6 {
    padding: 0 0.6rem;
}
.custom-wrapper {
    display: flex;
}
.sp-icon {
    margin-left: -1.2rem;
}