<clr-modal [(clrModalOpen)]="show">
    <h3 class="modal-title">{{isAlter ? 'Update' : 'Add'}}&nbsp;Account</h3>
    <form class="modal-body" clrForm [formGroup]="accForm" (ngSubmit)="onSubmit()">
        <clr-input-container>
            <label for="name">Name</label>
            <input class="available-space-fill" clrInput type="text" formControlName="name"
                (keypress)="onKeyPress($event)" />
            <clr-control-error>
                Name required
            </clr-control-error>
        </clr-input-container>
        <clr-textarea-container>
            <label>Description</label>
            <textarea class="available-space-fill" clrTextarea formControlName="desc" (keypress)="onKeyPress($event)">
            </textarea>
        </clr-textarea-container>
        <clr-input-container>
            <label for="headName">Group</label>
            <input name="headName" class="available-space-fill" clrInput type="text" [attr.disabled]="true"
                [value]="currentGroup?.name" />
        </clr-input-container>
        <div class="clr-form-control clr-row">
            <label for="sel-catg" class="clr-control-label">Type</label>
            <div class="clr-control-container catg-selection-container"
                [ngClass]="{'clr-error':accForm.get('type').invalid && (accForm.get('type').dirty || accForm.get('type').touched)}">
                <div class="clr-input-wrapper">
                    <ng-select id="sel-catg" class="clr-input inp-custom available-space-fill" formControlName="type"
                        [items]="currentGroup?.subCategories" bindLabel="name" [loading]="catgsLoading"
                        [searchFn]="catgSearchFn" editableSearchTerm="true">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}} <br />
                            <small>{{item.parent.name}}</small>
                        </ng-template>
                    </ng-select>
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="clr-subtext"
                    *ngIf="accForm.get('type').invalid && (accForm.get('type').dirty || accForm.get('type').touched)">
                    Group required
                </span>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button (click)="close()" class="btn btn-default">Cancel</button>
        <button type="submit" (click)="onSubmit()" [disabled]="accForm.invalid" class="btn btn-primary">Save</button>
    </div>
</clr-modal>